<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="generatePassword d-flex flex-column text-center align-items-center">
        <h2 class="title">password generator</h2>
        <div class="length input-group mb-3">
          <label for="length">length</label>
          <input id="length" type="text" class="border border-success" (input)="onChangeLength($event)">
        </div>
  
        <div class="letter input-group mb-3">
          <label class="Letter">Use Letter</label>
          <input type="checkbox" class="letter" name="" id="" value="Letter" (change)="onChangeLetter()">
        </div>
  
        <div class="Symbols input-group mb-3 text-center">
          <label class="Letter">Use Symbols</label>
          <input type="checkbox" class="Symbols" name="" id="" value="Use Symbols" (change)="onChangeSymbols()">
        </div>
  
  
        <div class="Numbers input-group mb-3 text-center">
          <label class="Letter">Use Numbers</label>
          <input type="checkbox" class="Numbers" name="" id="" value="Use Numbers" (change)="onChangeNumbers()">
        </div>
        <div class="button-generate">
          <button class="button btn btn-success" (click)="onClickButton()"
          [disabled]="!(length && (includLetterts || includNumbers || includSymbols))"
          >Generate!</button>

        </div>
  
        <div class="input-group mb-3">
          <label>Your Password</label>
          <input type="text" class="form-control" [value]="getPasswords()">
        </div>
      </div>


    </div>
  </div>
</div>
<!-- {{length}} -->